.taro-tabbar__container {
  .weui-tabbar {
    .weui-bar__item {
      .weui-tabbar__label {
        width: 49px;
        height: 15px;

        font-family: "Microsoft YaHei UI";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 15px;
        letter-spacing: 0.01em;
        color: #999999;
      }
    }
    .weui-bar__item_on {
      font-family: "Microsoft YaHei UI";

      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.01em;
      color: cyan;
    }
  }
}
